:root {
  --color-text: #232433;
  --color-primary-lighter: #e8f5f0;
  --size-container: 768px;
  --size-font: 16px;
  --size-border-radius: 4px;
}

body,
html {
  margin: 0;
  padding: 0;
  font: 400 var(--size-font)/1.2 monospace;
  background-color: var(--color-primary-lighter);
  color: var(--color-text);
}

.container {
  max-width: var(--size-container);
  margin: 0 auto;
}


.form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field label {
  font-weight: 600;
}

.form-field input {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--color-text);
  border-radius: var(--size-border-radius);
  font-size: 1rem;
  outline: none;
  color: var(--color-text);
  background-color: var(--color-primary-lighter);
}

.form-field input:focus {
  border-color: #000;
}


.card {
  background-color: #fff;
  border-radius: var(--size-border-radius);
  box-shadow: 0 2px 4px rgba(62, 63, 80, 0.075), 0 1px 8px rgba(0, 0, 0, 0.005);
  padding: 1rem;
  margin: 1rem;
}
.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card__actions {
  display: flex;
  gap: 0.5rem;
}

.card__actions button {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--color-text);
  border-radius: var(--size-border-radius);
  font-size: 1rem;
  outline: none;
  color: var(--color-text);
  background-color: var(--color-primary-lighter);
  cursor: pointer;
}

.card__actions button:hover {
  border-color: #000;
}

.card__actions button:active {
  background-color: #000;
  color: #fff;
}

